In [1]:
# import python libraries
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df1 = pd.read_excel("Data/airbnb prices1.xlsx")
df1.head()

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay,name,last_modified,latitude,longitude,location
0,10176931,1476,49180562,Shared room,NaN,Amsterdam,NaN,De Pijp / Rivierenbuurt,7,4.5,2,1,NaN,156,NaN,Red Light/ Canal view apartment (Shared),2017-07-23 13:06:27.392,52.356209,4.887491,0101000020E610000033FAD170CA8C13403BC5AA41982D...
1,8935871,1476,46718394,Shared room,NaN,Amsterdam,NaN,Centrum West,45,4.5,4,1,NaN,126,NaN,Sunny and Cozy Living room in quite neighbours,2017-07-23 13:06:23.607,52.378518,4.896120,0101000020E6100000842A357BA095134042791F477330...
2,14011697,1476,10346595,Shared room,NaN,Amsterdam,NaN,Watergraafsmeer,1,0.0,3,1,NaN,132,NaN,Amsterdam,2017-07-23 13:06:23.604,52.338811,4.943592,0101000020E6100000A51133FB3CC613403543AA285E2B...
3,6137978,1476,8685430,Shared room,NaN,Amsterdam,NaN,Centrum West,7,5.0,4,1,NaN,121,NaN,Canal boat RIDE in Amsterdam,2017-07-23 13:06:22.690,52.376319,4.890028,0101000020E6100000DF180280638F134085EE92382B30...
4,18630616,1476,70191803,Shared room,NaN,Amsterdam,NaN,De Baarsjes / Oud West,1,0.0,2,1,NaN,93,NaN,One room for rent in a three room appartment,2017-07-23 13:06:19.681,52.370384,4.852873,0101000020E6100000CD902A8A57691340187B2FBE682F...

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18723 entries, 0 to 18722
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   room_id               18723 non-null  int64
 1   survey_id             18723 non-null  int64
 2   host_id               18723 non-null  int64
 3   room_type             18723 non-null  object
 4   country               0 non-null      float64
 5   city                  18723 non-null  object
 6   borough               0 non-null      float64
 7   neighborhood          18723 non-null  object
 8   reviews               18723 non-null  int64
 9   overall_satisfaction  18723 non-null  float64
 10  accommodates          18723 non-null  int64
 11  bedrooms              18723 non-null  int64
 12  bathrooms             0 non-null      float64
 13  price                 18723 non-null  int64
 14  minstay               0 non-null      float64
 15  name                  18671 non-null  object
 16  last_modified         18723 non-null  datetime64[ns]
 17  latitude              18723 non-null  float64
 18  longitude             18723 non-null  float64
 19  location              18723 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(7), object(5)
memory usage: 2.9+ MB

In [10]:
df1.shape

(18723, 20)

In [4]:
df2 = pd.read_excel("Data/airbnb prices2.xlsx")
df2.head()

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay,name,last_modified,latitude,longitude,location
0,10176931,1476,49180562,Shared room,NaN,Amsterdam,NaN,De Pijp / Rivierenbuurt,7,4.5,2,1,NaN,156,NaN,Red Light/ Canal view apartment (Shared),2017-07-23 13:06:27.392,52.356209,4.887491,0101000020E610000033FAD170CA8C13403BC5AA41982D...
1,8935871,1476,46718394,Shared room,NaN,Amsterdam,NaN,Centrum West,45,4.5,4,1,NaN,126,NaN,Sunny and Cozy Living room in quite neighbours,2017-07-23 13:06:23.607,52.378518,4.896120,0101000020E6100000842A357BA095134042791F477330...
2,14011697,1476,10346595,Shared room,NaN,Amsterdam,NaN,Watergraafsmeer,1,0.0,3,1,NaN,132,NaN,Amsterdam,2017-07-23 13:06:23.604,52.338811,4.943592,0101000020E6100000A51133FB3CC613403543AA285E2B...
3,6137978,1476,8685430,Shared room,NaN,Amsterdam,NaN,Centrum West,7,5.0,4,1,NaN,121,NaN,Canal boat RIDE in Amsterdam,2017-07-23 13:06:22.690,52.376319,4.890028,0101000020E6100000DF180280638F134085EE92382B30...
4,18630616,1476,70191803,Shared room,NaN,Amsterdam,NaN,De Baarsjes / Oud West,1,0.0,2,1,NaN,93,NaN,One room for rent in a three room appartment,2017-07-23 13:06:19.681,52.370384,4.852873,0101000020E6100000CD902A8A57691340187B2FBE682F...

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18723 entries, 0 to 18722
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   room_id               18723 non-null  int64
 1   survey_id             18723 non-null  int64
 2   host_id               18723 non-null  int64
 3   room_type             18723 non-null  object
 4   country               0 non-null      float64
 5   city                  18723 non-null  object
 6   borough               0 non-null      float64
 7   neighborhood          18723 non-null  object
 8   reviews               18723 non-null  int64
 9   overall_satisfaction  18723 non-null  float64
 10  accommodates          18723 non-null  int64
 11  bedrooms              18723 non-null  int64
 12  bathrooms             0 non-null      float64
 13  price                 18723 non-null  int64
 14  minstay               0 non-null      float64
 15  name                  18671 non-null  object
 16  last_modified         18723 non-null  datetime64[ns]
 17  latitude              18723 non-null  float64
 18  longitude             18723 non-null  float64
 19  location              18723 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(7), object(5)
memory usage: 2.9+ MB

In [11]:
df2.shape

(18723, 20)

In [6]:
df3 = pd.read_excel("Data/airbnb prices3.xlsx")
df3.head()

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay,name,last_modified,latitude,longitude,location
0,10176931,1476,49180562,Shared room,NaN,Amsterdam,NaN,De Pijp / Rivierenbuurt,7,4.5,2,1,NaN,156,NaN,Red Light/ Canal view apartment (Shared),2017-07-23 13:06:27.392,52.356209,4.887491,0101000020E610000033FAD170CA8C13403BC5AA41982D...
1,8935871,1476,46718394,Shared room,NaN,Amsterdam,NaN,Centrum West,45,4.5,4,1,NaN,126,NaN,Sunny and Cozy Living room in quite neighbours,2017-07-23 13:06:23.607,52.378518,4.896120,0101000020E6100000842A357BA095134042791F477330...
2,14011697,1476,10346595,Shared room,NaN,Amsterdam,NaN,Watergraafsmeer,1,0.0,3,1,NaN,132,NaN,Amsterdam,2017-07-23 13:06:23.604,52.338811,4.943592,0101000020E6100000A51133FB3CC613403543AA285E2B...
3,6137978,1476,8685430,Shared room,NaN,Amsterdam,NaN,Centrum West,7,5.0,4,1,NaN,121,NaN,Canal boat RIDE in Amsterdam,2017-07-23 13:06:22.690,52.376319,4.890028,0101000020E6100000DF180280638F134085EE92382B30...
4,18630616,1476,70191803,Shared room,NaN,Amsterdam,NaN,De Baarsjes / Oud West,1,0.0,2,1,NaN,93,NaN,One room for rent in a three room appartment,2017-07-23 13:06:19.681,52.370384,4.852873,0101000020E6100000CD902A8A57691340187B2FBE682F...

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18723 entries, 0 to 18722
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   room_id               18723 non-null  int64
 1   survey_id             18723 non-null  int64
 2   host_id               18723 non-null  int64
 3   room_type             18723 non-null  object
 4   country               0 non-null      float64
 5   city                  18723 non-null  object
 6   borough               0 non-null      float64
 7   neighborhood          18723 non-null  object
 8   reviews               18723 non-null  int64
 9   overall_satisfaction  18723 non-null  float64
 10  accommodates          18723 non-null  int64
 11  bedrooms              18723 non-null  int64
 12  bathrooms             0 non-null      float64
 13  price                 18723 non-null  int64
 14  minstay               0 non-null      float64
 15  name                  18671 non-null  object
 16  last_modified         18723 non-null  datetime64[ns]
 17  latitude              18723 non-null  float64
 18  longitude             18723 non-null  float64
 19  location              18723 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(7), object(5)
memory usage: 2.9+ MB

In [12]:
df3.shape

(18723, 20)

In [8]:
df4 = pd.read_csv("Data/airbnb prices4.csv")
df4.head()

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay,name,last_modified,latitude,longitude,location
0,10176931,1476,49180562,Shared room,NaN,Amsterdam,NaN,De Pijp / Rivierenbuurt,7,4.5,2,1.0,NaN,156.0,NaN,Red Light/ Canal view apartment (Shared),2017-07-23 13:06:27.391699,52.356209,4.887491,0101000020E610000033FAD170CA8C13403BC5AA41982D...
1,8935871,1476,46718394,Shared room,NaN,Amsterdam,NaN,Centrum West,45,4.5,4,1.0,NaN,126.0,NaN,Sunny and Cozy Living room in quite neighbours,2017-07-23 13:06:23.607187,52.378518,4.896120,0101000020E6100000842A357BA095134042791F477330...
2,14011697,1476,10346595,Shared room,NaN,Amsterdam,NaN,Watergraafsmeer,1,0.0,3,1.0,NaN,132.0,NaN,Amsterdam,2017-07-23 13:06:23.603546,52.338811,4.943592,0101000020E6100000A51133FB3CC613403543AA285E2B...
3,6137978,1476,8685430,Shared room,NaN,Amsterdam,NaN,Centrum West,7,5.0,4,1.0,NaN,121.0,NaN,Canal boat RIDE in Amsterdam,2017-07-23 13:06:22.689787,52.376319,4.890028,0101000020E6100000DF180280638F134085EE92382B30...
4,18630616,1476,70191803,Shared room,NaN,Amsterdam,NaN,De Baarsjes / Oud West,1,0.0,2,1.0,NaN,93.0,NaN,One room for rent in a three room appartment,2017-07-23 13:06:19.681469,52.370384,4.852873,0101000020E6100000CD902A8A57691340187B2FBE682F...

In [9]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18723 entries, 0 to 18722
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   room_id               18723 non-null  int64
 1   survey_id             18723 non-null  int64
 2   host_id               18723 non-null  int64
 3   room_type             18723 non-null  object
 4   country               0 non-null      float64
 5   city                  18723 non-null  object
 6   borough               0 non-null      float64
 7   neighborhood          18723 non-null  object
 8   reviews               18723 non-null  int64
 9   overall_satisfaction  18723 non-null  float64
 10  accommodates          18723 non-null  int64
 11  bedrooms              18723 non-null  float64
 12  bathrooms             0 non-null      float64
 13  price                 18723 non-null  float64
 14  minstay               0 non-null      float64
 15  name                  18671 non-null  object
 16  last_modified         18723 non-null  object
 17  latitude              18723 non-null  float64
 18  longitude             18723 non-null  float64
 19  location              18723 non-null  object
dtypes: float64(9), int64(5), object(6)
memory usage: 2.9+ MB

In [13]:
df4.shape

(18723, 20)

In [16]:
df1.isnull().sum()

room_id                     0
survey_id                   0
host_id                     0
room_type                   0
country                 18723
city                        0
borough                 18723
neighborhood                0
reviews                     0
overall_satisfaction        0
accommodates                0
bedrooms                    0
bathrooms               18723
price                       0
minstay                 18723
name                       52
last_modified               0
latitude                    0
longitude                   0
location                    0
dtype: int64

In [20]:
df1.drop(['country','borough','bathrooms','minstay'],axis=1,inplace=True)

In [21]:
df1.isnull().sum()

room_id                  0
survey_id                0
host_id                  0
room_type                0
city                     0
neighborhood             0
reviews                  0
overall_satisfaction     0
accommodates             0
bedrooms                 0
price                    0
name                    52
last_modified            0
latitude                 0
longitude                0
location                 0
dtype: int64

In [17]:
df2.isnull().sum()

room_id                     0
survey_id                   0
host_id                     0
room_type                   0
country                 18723
city                        0
borough                 18723
neighborhood                0
reviews                     0
overall_satisfaction        0
accommodates                0
bedrooms                    0
bathrooms               18723
price                       0
minstay                 18723
name                       52
last_modified               0
latitude                    0
longitude                   0
location                    0
dtype: int64

In [22]:
df2.drop(['country','borough','bathrooms','minstay'],axis=1,inplace=True)

In [23]:
df2.isnull().sum()

room_id                  0
survey_id                0
host_id                  0
room_type                0
city                     0
neighborhood             0
reviews                  0
overall_satisfaction     0
accommodates             0
bedrooms                 0
price                    0
name                    52
last_modified            0
latitude                 0
longitude                0
location                 0
dtype: int64

In [18]:
df3.isnull().sum()

room_id                     0
survey_id                   0
host_id                     0
room_type                   0
country                 18723
city                        0
borough                 18723
neighborhood                0
reviews                     0
overall_satisfaction        0
accommodates                0
bedrooms                    0
bathrooms               18723
price                       0
minstay                 18723
name                       52
last_modified               0
latitude                    0
longitude                   0
location                    0
dtype: int64

In [24]:
df3.drop(['country','borough','bathrooms','minstay'],axis=1,inplace=True)

In [26]:
df3.isnull().sum()

room_id                  0
survey_id                0
host_id                  0
room_type                0
city                     0
neighborhood             0
reviews                  0
overall_satisfaction     0
accommodates             0
bedrooms                 0
price                    0
name                    52
last_modified            0
latitude                 0
longitude                0
location                 0
dtype: int64

In [19]:
df4.isnull().sum()

room_id                     0
survey_id                   0
host_id                     0
room_type                   0
country                 18723
city                        0
borough                 18723
neighborhood                0
reviews                     0
overall_satisfaction        0
accommodates                0
bedrooms                    0
bathrooms               18723
price                       0
minstay                 18723
name                       52
last_modified               0
latitude                    0
longitude                   0
location                    0
dtype: int64

In [25]:
df4.drop(['country','borough','bathrooms','minstay'],axis=1,inplace=True)

In [27]:
df4.isnull().sum()

room_id                  0
survey_id                0
host_id                  0
room_type                0
city                     0
neighborhood             0
reviews                  0
overall_satisfaction     0
accommodates             0
bedrooms                 0
price                    0
name                    52
last_modified            0
latitude                 0
longitude                0
location                 0
dtype: int64

In [29]:
df1.duplicated().sum()

0

In [30]:
df2.duplicated().sum()

0

In [31]:
df3.duplicated().sum()

0

In [32]:
df4.duplicated().sum()

0

In [33]:
for column in df1.columns:
    if df1[column].dtype == 'object':
        print(f"The {column.upper()} has : {df1[column].nunique()} unique values")
        print(df1[column].value_counts())
        print()

The ROOM_TYPE has : 3 unique values
room_type
Entire home/apt    14978
Private room        3682
Shared room           63
Name: count, dtype: int64

The CITY has : 1 unique values
city
Amsterdam    18723
Name: count, dtype: int64

The NEIGHBORHOOD has : 23 unique values
neighborhood
De Baarsjes / Oud West                    3289
De Pijp / Rivierenbuurt                   2378
Centrum West                              2225
Centrum Oost                              1730
Westerpark                                1430
Noord-West / Noord-Midden                 1418
Oud Oost                                  1169
Bos en Lommer                              988
Oostelijk Havengebied / Indische Buurt     921
Watergraafsmeer                            517
Oud Noord                                  494
Ijburg / Eiland Zeeburg                    378
Slotervaart                                349
Buitenveldert / Zuidas                     250
Noord West                                 241
Noord Oost                                 221
Geuzenveld / Slotermeer                    195
Osdorp                                     163
De Aker / Nieuw Sloten                     114
Bijlmer Centrum                             99
Bijlmer Oost                                97
Gaasperdam / Driemond                       42
Westpoort                                   15
Name: count, dtype: int64

The NAME has : 18137 unique values
name
Amsterdam                                           36
Lovely apartment near Vondelpark                    10
Cosy apartment in Amsterdam                          8
Magnificent panoramic city view                      8
Spacious family house with garden                    8
                                                    ..
Light Apartment, Centrally Located!                  1
Sunny loft with extra bedroom                        1
Central luxurious spacious comfortable apartment     1
Your private place within the canal belt             1
I have a room available for rent                     1
Name: count, Length: 18137, dtype: int64

The LOCATION has : 18723 unique values
location
0101000020E610000033FAD170CA8C13403BC5AA41982D4A40    1
0101000020E6100000C30DF8FC30821340342BDB87BC314A40    1
0101000020E61000007B849A2155B41340D6C9198A3B2E4A40    1
0101000020E610000056D3F544D7851340C79E3D97A9314A40    1
0101000020E61000002CB7B41A12A71340C5E40D30F32D4A40    1
                                                     ..
0101000020E61000005A65A6B4FEA613405CCAF962EF2B4A40    1
0101000020E6100000DF8AC404359C13405F28603B182D4A40    1
0101000020E6100000CD5CE0F25893134020F12BD6702D4A40    1
0101000020E6100000AB5D13D21A93134048FAB48AFE2C4A40    1
0101000020E6100000CD565EF23F9913405F7AFB73D1304A40    1
Name: count, Length: 18723, dtype: int64

In [34]:
for column in df1.columns:
    if df1[column].dtype != 'object':
        print(f"The {column.upper()} has : {df1[column].nunique()} unique values")
        print(df1[column].value_counts())
        print()

The ROOM_ID has : 18723 unique values
room_id
10176931    1
7050078     1
16448872    1
11316029    1
13561991    1
           ..
2012781     1
7430003     1
5879421     1
16103763    1
7605782     1
Name: count, Length: 18723, dtype: int64

The SURVEY_ID has : 1 unique values
survey_id
1476    18723
Name: count, dtype: int64

The HOST_ID has : 15943 unique values
host_id
48703385     93
113977564    88
1464510      71
107745142    64
84453740     61
             ..
41902443      1
8305721       1
9901234       1
23343555      1
29724632      1
Name: count, Length: 15943, dtype: int64

The REVIEWS has : 284 unique values
reviews
0      2984
1      1510
2      1246
3      1103
4       925
       ...
242       1
191       1
334       1
309       1
188       1
Name: count, Length: 284, dtype: int64

The OVERALL_SATISFACTION has : 9 unique values
overall_satisfaction
5.0    7708
0.0    5748
4.5    4559
4.0     577
3.5     109
3.0      19
1.5       1
2.5       1
1.0       1
Name: count, dtype: int64

The ACCOMMODATES has : 16 unique values
accommodates
2     10024
4      5579
3      1585
6       476
5       471
1       367
8       105
7        52
16       20
10       16
12       10
9         8
14        6
11        2
13        1
17        1
Name: count, dtype: int64

The BEDROOMS has : 11 unique values
bedrooms
1     11101
2      4456
3      1444
0      1154
4       473
5        62
6        19
10        5
7         4
8         3
9         2
Name: count, dtype: int64

The PRICE has : 423 unique values
price
119    1023
180    1001
144     887
150     621
132     588
       ...
585       1
435       1
339       1
337       1
28        1
Name: count, Length: 423, dtype: int64

The LAST_MODIFIED has : 18723 unique values
last_modified
2017-07-23 13:06:27.392    1
2017-07-22 17:50:54.562    1
2017-07-22 17:50:37.800    1
2017-07-22 17:50:37.804    1
2017-07-22 17:50:37.808    1
                          ..
2017-07-22 22:38:38.462    1
2017-07-22 22:38:38.480    1
2017-07-22 22:38:42.933    1
2017-07-22 22:38:45.218    1
2017-07-22 16:05:12.257    1
Name: count, Length: 18723, dtype: int64

The LATITUDE has : 15595 unique values
latitude
52.354646    5
52.360546    5
52.361364    5
52.366852    5
52.355191    4
            ..
52.357739    1
52.356921    1
52.351624    1
52.354408    1
52.381392    1
Name: count, Length: 15595, dtype: int64

The LONGITUDE has : 17157 unique values
longitude
4.907187    5
4.888738    4
4.904646    4
4.856525    4
4.893506    4
           ..
4.887158    1
4.888768    1
4.898284    1
4.894801    1
4.838403    1
Name: count, Length: 17157, dtype: int64

## Only one Unique Value Drop it

In [36]:
df1.drop(['city','survey_id'],axis=1,inplace=True)

In [45]:
df1.loc[df1['name'].isnull().sum()]

room_id                                                           3908795
host_id                                                          20246324
room_type                                                 Entire home/apt
neighborhood                                    Noord-West / Noord-Midden
reviews                                                                11
overall_satisfaction                                                  5.0
accommodates                                                            6
bedrooms                                                                4
price                                                                 594
name                                  Gorgeous House near Vondelpark area
last_modified                                  2017-07-23 11:36:50.398000
latitude                                                        52.354616
longitude                                                        4.852802
location                0101000020E610000083DA6FED44691340B5519D0E642D...
Name: 52, dtype: object

In [47]:
df1.dropna(axis=0,inplace=True)

In [48]:
df1.isnull().sum()

room_id                 0
host_id                 0
room_type               0
neighborhood            0
reviews                 0
overall_satisfaction    0
accommodates            0
bedrooms                0
price                   0
name                    0
last_modified           0
latitude                0
longitude               0
location                0
dtype: int64

In [50]:
df2['city'].value_counts()

city
Amsterdam    18723
Name: count, dtype: int64

In [51]:
df2['survey_id'].value_counts()

survey_id
1476    18723
Name: count, dtype: int64

In [52]:
df2.drop(['city','survey_id'],axis=1,inplace=True)

In [53]:
df2.dropna(axis=0,inplace=True)

In [54]:
df2.isnull().sum()

room_id                 0
host_id                 0
room_type               0
neighborhood            0
reviews                 0
overall_satisfaction    0
accommodates            0
bedrooms                0
price                   0
name                    0
last_modified           0
latitude                0
longitude               0
location                0
dtype: int64

In [55]:
df3['city'].value_counts(),df3['survey_id'].value_counts()

(city
 Amsterdam    18723
 Name: count, dtype: int64,
 survey_id
 1476    18723
 Name: count, dtype: int64)

In [56]:
df3.drop(['city','survey_id'],axis=1,inplace=True)
df3.dropna(axis=0,inplace=True)
df3.isnull().sum()

room_id                 0
host_id                 0
room_type               0
neighborhood            0
reviews                 0
overall_satisfaction    0
accommodates            0
bedrooms                0
price                   0
name                    0
last_modified           0
latitude                0
longitude               0
location                0
dtype: int64

In [57]:
df4['city'].value_counts(),df4['survey_id'].value_counts()

(city
 Amsterdam    18723
 Name: count, dtype: int64,
 survey_id
 1476    18723
 Name: count, dtype: int64)

In [58]:
df4.drop(['city','survey_id'],axis=1,inplace=True)
df4.dropna(axis=0,inplace=True)
df4.isnull().sum()

room_id                 0
host_id                 0
room_type               0
neighborhood            0
reviews                 0
overall_satisfaction    0
accommodates            0
bedrooms                0
price                   0
name                    0
last_modified           0
latitude                0
longitude               0
location                0
dtype: int64

In [62]:
df1.shape,df2.shape,df3.shape,df4.shape

((18671, 14), (18671, 14), (18671, 14), (18671, 14))

In [63]:
18671*4

74684

In [122]:
frames = [df1, df2, df3,df4]

df = pd.concat(frames)

In [115]:
frames = [df1, df2, df3,df4]

data = pd.concat(frames,axis=0,join="inner",keys=["A", "B"])
data.shape

(37342, 14)

In [116]:
data.loc["A"].head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,name,last_modified,latitude,longitude,location
0,10176931,49180562,Shared room,De Pijp / Rivierenbuurt,7,4.5,2,1,156,Red Light/ Canal view apartment (Shared),2017-07-23 13:06:27.392000,52.356209,4.887491,0101000020E610000033FAD170CA8C13403BC5AA41982D...
1,8935871,46718394,Shared room,Centrum West,45,4.5,4,1,126,Sunny and Cozy Living room in quite neighbours,2017-07-23 13:06:23.607000,52.378518,4.896120,0101000020E6100000842A357BA095134042791F477330...
2,14011697,10346595,Shared room,Watergraafsmeer,1,0.0,3,1,132,Amsterdam,2017-07-23 13:06:23.604000,52.338811,4.943592,0101000020E6100000A51133FB3CC613403543AA285E2B...
3,6137978,8685430,Shared room,Centrum West,7,5.0,4,1,121,Canal boat RIDE in Amsterdam,2017-07-23 13:06:22.690000,52.376319,4.890028,0101000020E6100000DF180280638F134085EE92382B30...
4,18630616,70191803,Shared room,De Baarsjes / Oud West,1,0.0,2,1,93,One room for rent in a three room appartment,2017-07-23 13:06:19.681000,52.370384,4.852873,0101000020E6100000CD902A8A57691340187B2FBE682F...

In [118]:
data.loc["B"].head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,name,last_modified,latitude,longitude,location
0,10176931,49180562,Shared room,De Pijp / Rivierenbuurt,7,4.5,2,1,156,Red Light/ Canal view apartment (Shared),2017-07-23 13:06:27.391699,52.356209,4.887491,0101000020E610000033FAD170CA8C13403BC5AA41982D...
1,8935871,46718394,Shared room,Centrum West,45,4.5,4,1,126,Sunny and Cozy Living room in quite neighbours,2017-07-23 13:06:23.607187,52.378518,4.896120,0101000020E6100000842A357BA095134042791F477330...
2,14011697,10346595,Shared room,Watergraafsmeer,1,0.0,3,1,132,Amsterdam,2017-07-23 13:06:23.603546,52.338811,4.943592,0101000020E6100000A51133FB3CC613403543AA285E2B...
3,6137978,8685430,Shared room,Centrum West,7,5.0,4,1,121,Canal boat RIDE in Amsterdam,2017-07-23 13:06:22.689787,52.376319,4.890028,0101000020E6100000DF180280638F134085EE92382B30...
4,18630616,70191803,Shared room,De Baarsjes / Oud West,1,0.0,2,1,93,One room for rent in a three room appartment,2017-07-23 13:06:19.681469,52.370384,4.852873,0101000020E6100000CD902A8A57691340187B2FBE682F...

In [96]:
18671*2

37342

In [119]:
data.duplicated().sum(),data.drop_duplicates(inplace=True)

(0, None)

In [120]:
data.duplicated().sum()

0

In [121]:
data.shape

(37342, 14)

In [123]:
df.shape

(74684, 14)

In [124]:
df.duplicated().sum()

37342

In [125]:
df.drop_duplicates(inplace=True)

In [126]:
df.duplicated().sum()

0

In [127]:
df.shape

(37342, 14)

In [129]:
for column in df1.columns:
    if df1[column].dtype == 'object':
        print(f"The {column.upper()} has : {df1[column].nunique()} unique values")
        print(df1[column].value_counts())
        print()

The ROOM_TYPE has : 3 unique values
room_type
Entire home/apt    14937
Private room        3671
Shared room           63
Name: count, dtype: int64

The NEIGHBORHOOD has : 23 unique values
neighborhood
De Baarsjes / Oud West                    3276
De Pijp / Rivierenbuurt                   2371
Centrum West                              2216
Centrum Oost                              1727
Westerpark                                1428
Noord-West / Noord-Midden                 1415
Oud Oost                                  1166
Bos en Lommer                              983
Oostelijk Havengebied / Indische Buurt     920
Watergraafsmeer                            514
Oud Noord                                  494
Ijburg / Eiland Zeeburg                    377
Slotervaart                                348
Buitenveldert / Zuidas                     250
Noord West                                 240
Noord Oost                                 221
Geuzenveld / Slotermeer                    195
Osdorp                                     163
De Aker / Nieuw Sloten                     114
Bijlmer Centrum                             99
Bijlmer Oost                                97
Gaasperdam / Driemond                       42
Westpoort                                   15
Name: count, dtype: int64

The NAME has : 18137 unique values
name
Amsterdam                                           36
Lovely apartment near Vondelpark                    10
Cosy apartment in Amsterdam                          8
Magnificent panoramic city view                      8
Spacious family house with garden                    8
                                                    ..
Light Apartment, Centrally Located!                  1
Sunny loft with extra bedroom                        1
Central luxurious spacious comfortable apartment     1
Your private place within the canal belt             1
I have a room available for rent                     1
Name: count, Length: 18137, dtype: int64

The LOCATION has : 18671 unique values
location
0101000020E610000033FAD170CA8C13403BC5AA41982D4A40    1
0101000020E6100000628731E9EF851340F1F5B52E35304A40    1
0101000020E6100000CC24EA059F861340211D1EC2F8314A40    1
0101000020E610000068791EDC9DC513403ECE3461FB2D4A40    1
0101000020E6100000B9FC87F4DBD713406ADE718A8E304A40    1
                                                     ..
0101000020E6100000AB5D13D21A93134048FAB48AFE2C4A40    1
0101000020E6100000C5CBD3B9A29413406458C51B992D4A40    1
0101000020E61000008F19A88C7F8F13401FF296AB1F2D4A40    1
0101000020E610000093E2E313B29313402992AF04522E4A40    1
0101000020E6100000CD565EF23F9913405F7AFB73D1304A40    1
Name: count, Length: 18671, dtype: int64

In [130]:
14937*2

29874

In [128]:
for column in df.columns:
    if df[column].dtype == 'object':
        print(f"The {column.upper()} has : {df[column].nunique()} unique values")
        print(df[column].value_counts())
        print()

The ROOM_TYPE has : 3 unique values
room_type
Entire home/apt    29874
Private room        7342
Shared room          126
Name: count, dtype: int64

The NEIGHBORHOOD has : 23 unique values
neighborhood
De Baarsjes / Oud West                    6552
De Pijp / Rivierenbuurt                   4742
Centrum West                              4432
Centrum Oost                              3454
Westerpark                                2856
Noord-West / Noord-Midden                 2830
Oud Oost                                  2332
Bos en Lommer                             1966
Oostelijk Havengebied / Indische Buurt    1840
Watergraafsmeer                           1028
Oud Noord                                  988
Ijburg / Eiland Zeeburg                    754
Slotervaart                                696
Buitenveldert / Zuidas                     500
Noord West                                 480
Noord Oost                                 442
Geuzenveld / Slotermeer                    390
Osdorp                                     326
De Aker / Nieuw Sloten                     228
Bijlmer Centrum                            198
Bijlmer Oost                               194
Gaasperdam / Driemond                       84
Westpoort                                   30
Name: count, dtype: int64

The NAME has : 18364 unique values
name
Amsterdam                             72
Lovely apartment near Vondelpark      20
Beautiful apartment in Amsterdam      16
Magnificent panoramic city view       16
Spacious family house with garden     16
                                      ..
Westerpark View modern apartment       1
charming familly house in historic     1
Cosy apartment near the Amstel         1
Charming apartment at river IJ         1
Comfortable sky room 12th floor        1
Name: count, Length: 18364, dtype: int64

The LAST_MODIFIED has : 37342 unique values
last_modified
2017-07-23 13:06:27.392000    1
2017-07-22 22:38:56.181713    1
2017-07-22 22:38:47.802047    1
2017-07-22 22:38:47.796434    1
2017-07-22 22:38:45.221905    1
                             ..
2017-07-22 17:50:45.783000    1
2017-07-22 17:50:45.777000    1
2017-07-22 17:50:44.108000    1
2017-07-22 17:50:41.405000    1
2017-07-22 16:05:12.257054    1
Name: count, Length: 37342, dtype: int64

The LOCATION has : 18671 unique values
location
0101000020E610000033FAD170CA8C13403BC5AA41982D4A40    2
0101000020E6100000628731E9EF851340F1F5B52E35304A40    2
0101000020E6100000CC24EA059F861340211D1EC2F8314A40    2
0101000020E610000068791EDC9DC513403ECE3461FB2D4A40    2
0101000020E6100000B9FC87F4DBD713406ADE718A8E304A40    2
                                                     ..
0101000020E6100000AB5D13D21A93134048FAB48AFE2C4A40    2
0101000020E6100000C5CBD3B9A29413406458C51B992D4A40    2
0101000020E61000008F19A88C7F8F13401FF296AB1F2D4A40    2
0101000020E610000093E2E313B29313402992AF04522E4A40    2
0101000020E6100000CD565EF23F9913405F7AFB73D1304A40    2
Name: count, Length: 18671, dtype: int64

In [76]:
for column in df.columns:
    if df[column].dtype != 'object':
        print(f"The {column.upper()} has : {df[column].nunique()} unique values")
        print(df[column].value_counts())
        print()

The ROOM_ID has : 18671 unique values
room_id
10176931    2
19360959    2
3957325     2
8590437     2
2180810     2
           ..
16103763    2
3140562     2
19114900    2
17631359    2
7605782     2
Name: count, Length: 18671, dtype: int64

The HOST_ID has : 15897 unique values
host_id
48703385     186
113977564    176
1464510      142
107745142    128
84453740     122
            ...
132951614      2
53282985       2
12527757       2
41902443       2
29724632       2
Name: count, Length: 15897, dtype: int64

The REVIEWS has : 283 unique values
reviews
0      5946
1      3008
2      2480
3      2198
4      1848
       ...
191       2
334       2
309       2
235       2
188       2
Name: count, Length: 283, dtype: int64

The OVERALL_SATISFACTION has : 9 unique values
overall_satisfaction
5.0    15386
0.0    11450
4.5     9092
4.0     1152
3.5      218
3.0       38
1.5        2
2.5        2
1.0        2
Name: count, dtype: int64

The ACCOMMODATES has : 16 unique values
accommodates
2     19982
4     11142
3      3158
6       946
5       942
1       730
8       210
7       104
16       40
10       32
12       20
9        16
14       12
11        4
13        2
17        2
Name: count, dtype: int64

The BEDROOMS has : 11 unique values
bedrooms
1.0     22136
2.0      8892
3.0      2884
0.0      2296
4.0       944
5.0       124
6.0        38
10.0       10
7.0         8
8.0         6
9.0         4
Name: count, dtype: int64

The PRICE has : 423 unique values
price
119.0    2032
180.0    1996
144.0    1768
150.0    1238
132.0    1176
         ...
435.0       2
339.0       2
337.0       2
369.0       2
28.0        2
Name: count, Length: 423, dtype: int64

The LATITUDE has : 15560 unique values
latitude
52.354646    10
52.366852    10
52.361364    10
52.360857     8
52.361641     8
             ..
52.360490     2
52.359729     2
52.358956     2
52.359914     2
52.381392     2
Name: count, Length: 15560, dtype: int64

The LONGITUDE has : 17112 unique values
longitude
4.907187    10
4.875611     8
4.891267     8
4.893506     8
4.904646     8
            ..
4.894847     2
4.888123     2
4.891153     2
4.900519     2
4.899658     2
Name: count, Length: 17112, dtype: int64

In [131]:
df1.to_csv('Final AirBnb Prices.csv',index=False)